{% extends 'commons/base.html'%}
{% block title %}Load Raw Data{% endblock %}
{% block content %}
<br><br><br><br>
  <div id="container" class="container-fluid text-center">
      <span class="data-attributes">{{ customer_name }} - {{ country }} - {{ year }} - {{ quarter }}</span>
      <br><br>
        <h3 class="data">Select raw data file for CPR - Airlines</h3>
        <br><br>
        <input type="hidden" name="encode_jwt" value="{{ encode_jwt }}" id="encode_jwt"/>
        <input type="hidden" name="domain_name" value="{{ domain }}" id="domain_name"/>
        <input type="hidden" name="travel_type" value="{{ travel_type }}" id="travel_type"/>
        <button class="btn btn-primary" onclick="launchOneSchema(document.getElementById('encode_jwt').value, document.getElementById('domain_name').value, document.getElementById('travel_type').value)">Raw Data File</button>
  </div>
  <div id="loading_container"></div>
{% endblock %}
