{% block content %}
<div class="container-fluid text-center">
  <span class="data-attributes">{{ customer_name }} - {{ country }} - {{ year }} - {{ quarter }}</span><br><br>
      <h3 class="data">File is ready to process...</h3><br><br>
      <form method="post" action="process_data" name="process_data">
        {% csrf_token %}
          <input type="hidden" name="csv_file_path" value="{{ csv_file_path }}" id="csv_file_path"/>
          <input type="hidden" name="username" value="{{ username }}" id="username"/>
          <input type="hidden" name="customer_name" value="{{ customer_name }}" id="customer_name"/>
          <input type="hidden" name="country" value="{{ country }}" id="country"/>
          <input type="hidden" name="year" value="{{ year }}" id="year"/>
          <input type="hidden" name="quarter" value="{{ quarter }}" id="quarter"/>
          <input type="hidden" name="travel_agency" value="{{ travel_agency }}" id="travel_agency"/>
          <input type="hidden" name="travel_type" value="{{ travel_type }}" id="travel_type"/>
          <button type="submit" class="btn btn-primary">Process Data</button>
      </form>
</div>
{% endblock %}