{% extends 'commons/base.html'%}
{% block title %}Customer Details{% endblock %}
{% block content %}
<br><br><br><br>
<div class="container-fluid text-center">
  <form action="raw_data" method="post">
      <h3 class="data">Enter Customer Details for CPR - Airlines</h3>
      <hr class="login">
        {% csrf_token %}
            <table class="center data">
              <caption></caption>
                {{ form.as_table }}
            </table>
          <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> 
{% endblock %}
