{% extends 'base.html'%}

{% block content %}

<br><br><br><br><br><br>
<div class="row">
  <div class="col">
    <div class="leftside">
      <form action="raw_data" method="post">
        <div class="container-fluid text-center">
          <h3>Enter Customer Details for CPR</h3>
          <br>
            {% csrf_token %}
            <center>
              <table class="raw_data_table">
                <br>
                {{ form.as_table }}
              </table>
            </center>
            <br>
            <button type="submit"  class="btn btn-primary">Submit</button>
          </div>
        </form>
    </div>
  </div>
  <div class="col">
    <div class="rightside">
      <div class="container-fluid text-center">
      <h3>Select raw data file for CPR</h3><br><br>
        <button class="btn btn-primary" onclick="launchOneSchema()">Raw Data File</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}
