# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Python Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log

# Environments
.venv
venv/

# IDE settings
.idea

# Mac things
.DS_Store

# Test artifacts
test-results
coverage
.coverage
coverage.xml

# Sonar CLI
.scannerwork

.env

/scripts/profiler_data/
/scripts/heroku_data_migration.py