<!DOCTYPE HTML>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'air/css/cpr.css' %}" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <title>Error</title>
  </head>
  <body>
    <br><br><br><br>
    <h3 class="data" style="text-align:center;">{{ message }}</h3>
  </body>
</html>