{% extends 'commons/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<br><br><br><br>
<div class="container-fluid text-center data">
  <h3>Client Performance Report</h3>
  <p>This tool is to help clean the unformatted data into structured format, <br> there by reducing the manual intervention in the cleaning process and provide the required analytics.<br>
    The tool can be replicated across domains with necessary customizations - Insurance, Market data and Technology.</p>
  {% comment %} <h3>Core Principles</h3> {% endcomment %}
</div>

{% comment %} <div class="container">
  <div class="row">
    <div class="col-sm">
      <h6>Expertise</h6>
      <p class="text-center">We are subject-matter experts who have a thorough and nuanced understanding of our customers, their markets, and their work. We are critical thinkers, we are curious, and we are constantly learning.</p>
    </div>
    <div class="col-sm">
      <h6>Innovation</h6>
      <p class="text-center">We stay true to our vision and are constantly pursuing new ideas and methods. We are developing technology, improving data structures, and crafting novel partnerships - we strive always to be at the forefront of innovation.</p>
    </div>
    <div class="col-sm">
      <h6>Perfection</h6>
      <p class="text-center">We are proactive professionals who sweat the small stuff and take pride in our execution capabilities. Our customers expect nothing less; they can rely on Concertiv because we always strive to deliver perfection.</p>
    </div>
    <div class="col-sm">
      <h6>Cooperation</h6>
      <p class="text-center">We recognize that working in a collaborative and friendly environment is the best way to facilitate work, priorities, and ideas. Opportunities to excel become more apparent when we are open and transparent.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h6>Hard Work</h6>
      <p class="text-center">Our team is encouraged to go above and beyond, and we recognize the efforts and achievements of our colleagues. We are problem solvers who demonstrate diligence and discipline in our pursuit of solutions for customers and suppliers.</p>
    </div>
    <div class="col-sm">
      <h6>Transparency</h6>
      <p class="text-center">We simplify and make transparent complex topics for decision-makers. We are efficient, no-nonsense, and keen on developing elegant workflows and solutions.</p>
    </div>
    <div class="col-sm">
      <h6>Relationships</h6>
      <p class="text-center">Our network is our power. We are honest and act with integrity in all situations. We hold ourselves to high standards of behavior and communications for every relationship within that network.</p>
    </div>
  </div>
</div> {% endcomment %}
{% endblock %}



