<!DOCTYPE HTML>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}Account Created{% endblock %}</title>
	<link rel="shortcut icon" href="{% static 'air/images/favicon.ico'%}" type="image/x-icon" />
	<link rel="stylesheet" href="{% static 'air/css/cpr.css' %}" type="text/css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  type="text/css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
</head>
<body class="bg-light">
    <div class="container-fluid text-center">
      <br><br><br><br><br><br><br><br>
      <form method="post">
        <h3 class="login">Congratulations !!</h3>
            <p class="data">Hi, 
              Your account creation is completed successfully. <br>
              Please click this <a href="{{ link }}"><u>link</u></a> to login into your account.
            </p>
          <br>
      </form>
    </div>
  </body>
</html>