{% extends 'commons/admin_header.html'%}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 side-color">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Hi, {{ username }}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'superuser:logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    {% endif %} 
                    <div class="sidebar">
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a href="{% url 'superuser:profile' %}" class="nav-link align-middle px-0">
                                    <br><br><br><br><br><br>
                                    <span class="ms-1 d-none d-sm-inline side-color">&nbsp;Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <span class="ms-1 d-none d-sm-inline side-color">&nbsp;CPR Users</span> </a>
                                <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side-color">&nbsp;&nbsp;&nbsp;&nbsp;All</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side-color">&nbsp;&nbsp;&nbsp;&nbsp;Create</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side-color">&nbsp;&nbsp;&nbsp;&nbsp;Delete</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side-color">&nbsp;&nbsp;&nbsp;&nbsp;Update</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                <div class="container-fluid text-center">
                    <br><br><br><br><br><br>
                    <div class="row">
                        <h3>User Information</h3>
                            <center>
                                <br><br>
                                <table class="table table-borderless text-center">
                                    <tr>
                                        <th> Username </th>
                                        <th> Email </th>
                                        <th> Role </th>
                                        <th> Last Login </th>
                                    </tr>
                                    <tr> 
                                        <td> {{ username }} </td> 
                                        <td> {{ email }} </td>
                                        <td> {{ role }} </td>
                                        <td> {{ last_login}} </td>
                                    </tr> 
                                </table>
                            </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}