{% extends 'commons/admin_header.html'%}
{% load static %}
{% block content %}
    <div class="row">
      <div class="center">
        <form action="home" method="post">
          <div class="container-fluid text-center">
            <img src="{% static 'air/images/icon.png' %}" width="35" height="35" alt="Concertiv - Logo"><br><br>
            <h3>Please Sign In</h3>
            <hr class="login">
              {% csrf_token %}
              <center>
                <table class="raw_data_table">
                  <br>
                  {{ form.as_table }}
                </table>
              </center>
              <br>
              <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
          </form>
      </div> 
  </div>
{% endblock %}
