<!DOCTYPE HTML>
<html lang="en">
<head>
  <title></title>
</head>
  <body>
    <div class="container-fluid text-center">
      <br><br><br>
        <h3 class="data">Forgot / Reset Password</h3>
        <p class="data">Hi,<br><br>
        We received a request to reset the password for your account for this email address. <br>
        To initiate the password reset process for your account, click this <a href="{{ link }}"><u>link</u></a><br>
        This link can only be used once. If you need to reset your password again, please visit <a href="{{ portal_link }}"><u>CPR-Portal</u></a> and request another reset.<br>
        If you did not make this request, you can simply ignore this email.<br><br><br>
        Sincerely,<br>
        CPR-Admin</p>
        <br>
    </div>
  </body>
</html>