<!DOCTYPE HTML>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}Forgot/Reset Password{% endblock %}</title>
	<link rel="shortcut icon" href="{% static 'air/images/favicon.ico'%}" type="image/x-icon" />
	<link rel="stylesheet" href="{% static 'air/css/cpr.css' %}" type="text/css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  type="text/css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
</head>
<body class="bg-light">
    <div class="container-fluid text-center">
        <br><br><br><br><br><br><br><br>
        <form method="post">
            <h3>Forgot / Reset Password</h3>
            <hr class="login">
            {% csrf_token %}
                <table class="center data">
                    <caption></caption>
                    <i><h5><p class="text-center data"> Guidelines to create password</p></h5>
                    <ul class="text-center data">
                        <li>Password length mush not be less than 8 or greater than 15</li>
                        <li>Password must have atleast one CAPS letter</li>
                        <li>Password must have atleast one Number</li>
                        <li>Password must have atleast one Special Character</li>
                    </ul></i>
                    <br><br>
                    {{ form.as_table }}
                    <input type="hidden" name="link" value="{{ request.get_full_path }}" id="link" />
                </table>
            <br>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</body>
</html>