{% extends 'commons/base.html'%}
{% block content %}
<br><br><br><br><br><br>
<div class="container-fluid text-center">
  <form action="raw_data" method="post">
    <center>
      <h3 class="data">Enter Customer Details for CPR - Hotels</h3>
      <hr class="login">
        {% csrf_token %}
          <br>
            <table class="data">
                {{ form.as_table }}
            </table>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
    </center>
  </form>
</div> 
{% endblock %}
