{% extends 'commons/base.html'%}
{% block content %}
<br><br><br><br>
<div class="container-fluid text-center">
  <form action="savings_calculation" method="post" enctype="multipart/form-data">
      <h3 class="data">{{ request.session.customer_name }} - {{ request.session.country }} - {{ request.session.year }} - {{ request.session.quarter }}</h3>
        {% csrf_token %}
        <br><br>
            <table class="center data">
              <caption></caption>
                <input type="file" name="fuzzy_match_document"><br><br><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </table>
  </form>
</div> 
{% endblock %}
